/*TODO: Remove unused vars and classes*/
/*Examples From Personal site.------------------------*/
$background-white: #f2f2f2;
$text-black: #262526;

$theme-colors: (
/*
"primary": #0074d9,
"danger": #ff4136
*/

"site-black" : #262526,
"site-dark-grey": #404040,
"site-mid-grey" : #8C8979,
"site-light-grey": #F2F2F2,
"site-red" : #F60A20,
"site-blue": #04576E,
"site-green": #656B4A,
"site-dev-green": #1F754C,
"site-dev-grey": #8E9AA6
);




/*Social Game Party vars and classes-----------------------------------------------------------------------*/
$social-game-party-orange: #dd2c00;
